---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import {slide} from 'astro:transitions';

import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';
import logo from '../../public/dndw.png';
import Footer from "../components/Footer.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.ord.valueOf() - a.data.ord.valueOf(),
);
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main transition:animate={slide({duration: "0.5s"})}>
			<Image src={logo} alt="dndw" class="logo" />
			<h2 class="author">by theavgeekbee</h2>
			<hr />
			{
				posts.map((post) => (
					<div>
						<section>
							<h1>{post.data.title}</h1>
							<p>{post.data.description}</p>
							<a href={`/blog/${post.id}/`}>read &rarr;</a>
						</section>
						<hr />
					</div>
				))
			}
			<Footer />
		</main>
	</body>
</html>
